<!-- Loading Screen -->
<div id="loading-screen" class="loading-screen">
    <div class="loader-ring"></div>
    <p class="loader-text"><%= typeof loadingText !== 'undefined' ? loadingText : 'Loading...' %></p>
</div>
